{{>header}}
{{>navbar}}
<section class="container my-3">
    <div>
        <h3>Name: {{user.name}}</h3>
        <h3>age: {{user.age}}</h3>
        <h3>Email: {{user.email}}</h3>
    </div>
</section>
{{>footer}}